[submodule "dependencies/mooncake"]
	path = dependencies/mooncake
	url = https://github.com/Forairaaaaa/mooncake.git
[submodule "dependencies/mooncake_log"]
	path = dependencies/mooncake_log
	url = https://github.com/Forairaaaaa/mooncake_log.git
[submodule "dependencies/lvgl"]
	path = dependencies/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "dependencies/ArduinoJson"]
	path = dependencies/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "dependencies/smooth_ui_toolkit"]
	path = dependencies/smooth_ui_toolkit
	url = https://github.com/Forairaaaaa/smooth_ui_toolkit.git
[submodule "dependencies/lgfx_slim"]
	path = dependencies/lgfx_slim
	url = https://github.com/Forairaaaaa/lgfx_slim.git
	branch = main
